* {
    box-sizing: border-box;
    font-family: "Helvetica Neue", "Ubuntu", "Roboto Condensed", "Trebuchet MS", sans-serif;
}

body {
    text-align: center;
    background-color: #eee;
}

div {
    display: block;
}

svg {
    width: 40vw;
    height: 40vw;
    background-color: #fff;
    border-radius: 6px;
    margin: 2%;
    text-align: center;
    box-shadow: 3px 4px 3px #888;
}

a {
    color: blue;
    border: 1px solid transparent;
    text-decoration: none;
    font-size: 24px;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 25%;
}

input {
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 10px;
    margin: 1%;
    box-shadow: 2px 3px 2px #888888;
}

input[type=submit] {
    color: black;
    background-color: #ccc;
    transition: 0.3s;
}
input[type=submit]:hover{
    background-color: #ddd;
}
input[type=submit]:active{
    background-color: #eee;
    transition: 0.3s;
}

/* Used for the subheader that shows algorithm name. */
h2 {
    padding-bottom: 0px;
}

/* Used for the pullout menu on the side. */
h3 {
    color: white;
}

.center {
    text-align: center;
}

.reveal {
    width: 100%;
    font-size: 1em;
    padding: 16 14;
}

.reveal.play {
    background-color: #00dd00;
}

.reveal.play:hover {
    background-color: #00ff00;
}

.reveal.stop {
    background-color: #dd0000;
}

.reveal.stop:hover {
    background-color: #ff5555;
}

.reveal.rewind {
    background-color: #5998cc;
}

.reveal.rewind:hover {
    background-color: #5998ff;
}

.reveal.slow {
    background-color: #00aaaa;
}

.reveal.slow:hover {
    background-color: #00cccc;
}

.desc {
    background-color: white;
    margin-left:2%;
    width:90%;
    float:left;
    border: 2px solid black;
    display: none;
    text-align: left;
    font-size: 1.25em;
    padding: 2%;
    font-family: "Helvetica Neue", "Ubuntu", "Roboto Condensed", Verdana, sans-serif;

}

.infobox {
    background-color: white;
    margin-left:2%;
    width:90%;
    float:left;
    border: 2px solid black;
    display: none;
    text-align: left;
    font-size: 1.25em;
    padding: 2%;
    font-family: "Helvetica Neue", "Ubuntu", "Roboto Condensed", Verdana, sans-serif;
}

.tooltip {
    cursor:pointer;
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted;
    font-weight: bold;
}

.tooltip .tooltiptext {
    visibility: hidden;
    opacity: 0;
    font-size: 16px;
    font-family: "Helvetica Neue", "Ubuntu", "Roboto Condensed", Verdana, sans-serif;
    font weight: normal;
    font-style: italic;
    width: 300px;
    bottom: 100%;
    left: 50%;
    margin-left: -150px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
    transition: 0.2s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    z-index: 1;
}

.tooltip .tooltiptext:hover {
    visibility: hidden;
    opacity: 0;
}

.tab {
    text-align: left;
    margin: 5px auto;
    width: 80%;
    overflow: hidden;
    background-color: #ccc;
    border: 1px solid black;
    border-radius: 6px;
}
 .tabtxt {
     transition: 0.3s;
     font-size: 24px;
     font-family: "Helvetica Neue", "Ubuntu", "Roboto Condensed", Verdana, sans-serif;
     text-align: left;
     margin: 5px auto;
     width: 80%;
     background-color: #eef;
     border: 1px solid #ccf;
     border-radius: 6px;
     padding: 15px;
     display: inline-block;
 }

.tab button {
    background-color: #ccc;
    display: inline-block;
    margin: 0 auto;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    z-index: 0;
}

.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #eee;
}

.tablinks {
    width: 33%;
    background-color: inherit;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    float:left;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.openNav {
    width: 6%;
    position: sticky;
    z-index: 5;
    top: 0px;
    left: 0px;
    display: block;
    font-size: 30px;
    cursor: pointer;
    padding: 10px 20px;
    background-color: lightblue;
    border-radius: 6px;
    box-shadow: 3px 3px 3px #888;
    transition: 0.3s;
}

.openNav:hover{
    background-color: #f1f1f1;
}

.openButton {
    display: block;
    font-size: 30px;
    width: 100%;
    text-align: center;
}

.footer {
    width: 90%;
    height: 120px;
    margin: 0 auto;
    background-color: #bbbbcc;
    border-radius: 15px 15px 0px 0px;
    bottom: 0px;
    top: 90%;
}

.footer a {
    text-decoration: underline;
    color: blue;
    margin-top: 10px;
    margin-bottom: 10px;
}

.line1 {
    fill: none;
    stroke: #ff0000;
    stroke-width: 5;
}

.line2 {
    fill: none;
    stroke: #654321;
    stroke-width: 5;
}

.overlay {
  fill: none;
  pointer-events: all;
}

/* Style the dots by assigning a fill and stroke */
.dot {
    fill: #ffab00;
    stroke: #fff;
    stroke-width: 0.1;
}

.focus circle {
  fill: none;
  stroke: steelblue;
}

.envelope {
    z-index: 10;
}
